main {
    margin: var(--vertical-spacing) auto;
}

main > article {
    display: grid;
    padding: 3rem;
}

main > article > header {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

main > article:first-of-type > .media,
main > article:first-of-type > figure  {
    height: 24vw;
    width: 24vw;
}

main > article > .media,
main > article > figure  {
    align-self: center;
    grid-column: 2;
    grid-row: 1 / 3;
    min-width: 24vw;
}

main > article > .content {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
}