main > article {
    padding: 1.8em;
}

main > article.feature {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07), 
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07),
                0 64px 128px rgba(0,0,0,0.07);
    border-radius: 0.3em;
    background: linear-gradient(135deg, var(--primary-color), var(--primary-color-dark));
    color: white;
}

h1, main > article:nth-child(2n) h2, main > article.post h2 {
    background: linear-gradient(135deg, var(--secondary-color), var(--tertiary-color));
    background-clip: text;
    -webkit-background-clip: text;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
}

main > article.feature {
    display: flex;
    flex-direction: column;
}

main > article > header {
    font-size: calc(1rem + .5vw);
    order: 1;
}

main > article > .media {
    order: 0;
}

main > article > .content {
    order: 2;
}

main > article:not(.post) a:last-child {
    color: white;
    display: inline-block;
    font-weight: 600;
    text-align: right;
    width: 100%;
}

main > article:nth-child(2n) a:last-child {
    color: hsla(0, 0%, 18%, 1);
}

main > article.post {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}